.SubscriptionForm {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.SubscriptionForm-title {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

}

.SubscriptionForm-title> h1 {
  margin-top: 0;
}


.SubscriptionForm-group{
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  margin-top: 1rem;
}

.SubscriptionForm-button{
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.SubscriptionForm-form-group:first-of-type{
  margin-top: 0rem;
}